
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #FAFAFA;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 920px;
}

.main {
    flex: 1;
}


.main .page-header {
    background: #F5F5F5;
    padding: 1.1rem 1.5rem 0 1.5rem;
}

.main .page-header .navbar {
    padding: 8px 0 0 0;
}

.main .page-content {
    padding: 1.1rem 1.5rem 0 1.5rem;
}
