@using NodaTime
@using Traces.Web.Models
@using Traces.Web.ViewModels
@inject TracesViewModel TracesViewModel

<div class="dialog-title">
    <h2>Create new trace</h2>
</div>
<input type="text" placeholder="Title" @bind="@CurrentTrace.Title"/>
<input type="text" placeholder="Description" @bind="@CurrentTrace.Description"/>
<input type="date"  value="@CurrentTrace.DueDateString"/>

<div class="dialog-buttons">
    <button class="btn btn-primary" @onclick="@OnCreateButton">Create</button>
</div>

@code
{

    public CreateTraceItemModel CurrentTrace { get; set; }

    [Parameter] public EventCallback OnClose { get; set; }

    public LocalDate MinDate { get; set; }

    void OnCreateButton()
    {
        if (TracesViewModel.CreateTraceItem(CurrentTrace))
        {
            OnClose.InvokeAsync(null);
        }
    }

    public CreateTraceDialog()
    {
        var systemClockCurrentInstantInUtc = SystemClock.Instance.GetCurrentInstant().InUtc();

        CurrentTrace = new CreateTraceItemModel
        {
            DueDate = systemClockCurrentInstantInUtc.Date
        };

        MinDate = systemClockCurrentInstantInUtc.Date;
    }

}
