@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomCenter" Timeout="10"/>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
