@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="main">
    <header class="page-header">
        <h1>Traces</h1>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div>
                <div class="navbar-nav">
                    <NavLink class="nav-item nav-link" href="" Match="NavLinkMatch.All">
                        Upcoming traces
                    </NavLink>
                </div>
            </div>
        </nav>
    </header>

    <section class="page-content">
        @Body
    </section>
</div>

<BlazoredToasts Position="ToastPosition.BottomCenter" Timeout="10"/>