@using System.Globalization
@using Traces.Web.ViewModels
@inject TracesViewModel TracesViewModel

<h3>
    <i class="fa fa-calendar-alt mr-2"></i>
    @Date.ToString("MMMM", CultureInfo.InstalledUICulture)
    <span class="date-hint">@Date.ToString("yyyy", CultureInfo.InstalledUICulture)</span>
</h3>

<section class="mb-3">
    <Button class="text-primary" Clicked="@(() => TracesViewModel.ShowCreateTraceModal(Date))"><i class="fa fa-plus mr-2"></i>Add new trace</Button>
</section>

<TracesTable></TracesTable>

@code
{
    [Parameter]
    public DateTime Date { get; set; }
}